@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.example-container {
    height: 100vh;
  }

  mat-drawer {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 21px 24px rgba(0, 0, 0, 0.2);
  }

  ul {
    position: relative;
  }
  ul .nav-item {
    padding: 10px 0;
    
  }
  .nav-item a {
  left: 87px;
  top: 713px;
  color: rgb(0, 0, 0);
  font-family: 'sourcesanspro';
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  }
  .nav-item a:hover {
    padding: 5px;
    background-color: rgb(13, 129, 231);
    color: white;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    background-color: #07393C;
    color: white;
    box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.2);
  }