<mat-toolbar style="width: 100%">
  <span>
    <i class="fa fa-bars" aria-hidden="true" (click)="drawer.toggle()"></i>
    <span class="example-spacer"></span>
    LRMS
  </span>
</mat-toolbar>
<mat-drawer-container class="example-container bg-white shadow" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav p-3 bg-light"
    mode="side"
    opened="false"
  >
    <div class="mt-5 text-dark">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a><i class="fa fa-file-o" aria-hidden="true"></i> Labor Report</a>
        </li>
        <li class="nav-item">
          <a><i class="fa fa-file-o" aria-hidden="true"></i> Labor Report</a>
        </li>
        <li class="nav-item">
          <a><i class="fa fa-file-o" aria-hidden="true"></i> Labor Report</a>
        </li>
        <li class="nav-item">
          <a><i class="fa fa-file-o" aria-hidden="true"></i> Labor Report</a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <div class="container-fluid mt-4">
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
</mat-drawer-container>
